@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body class="background-color: #FCFBF9;">
<div class="homePageHero">
    <div class="container">
        <div class="row col-md-12">
            <div class="align-self-center col-md-5">
                <h1 class="firstPageHeader">ExplorPlanner</h1>
                <h3>Your journey starts here.</h3>
                <p>Every successful journey begins with planning. Let us help you prepare to live your fullest life away.</p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <img src="~/img/heroImage.jpg" alt="Hero Image of hiker" style="align-items: center; margin-top:0px;" width="100%" height="100%">
            </div>
        </div>
    </div>
</div>
</body>
</html>
